@import "tailwindcss";

:root {
  --background: #24283b;
  --foreground: #3b4261;
  --font-hurmit-nerd: 'Hurmit-Nerd';
  --font-shuretech: 'ShureTech-Mono';
  --font-dynamic-colour: #9d7cd8;
}

@font-face {
  font-family: 'Hurmit-Nerd';
  src: url('/fonts/HurmitNerdFontMono_Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ShureTech-Mono';
  src: url('/fonts/ShureTechMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hurmit-nerd);
  --font-mono: var(--font-hurmit-nerd);
  --font-matrix: var(--font-shuretech);
  --font-matrix-colour: var(--font-dynamic-colour);
}

@media (prefers-color-scheme: dark) {
  :root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-hurmit-nerd);
  --font-mono: var(--font-hurmit-nerd);
  --font-matrix: var(--font-shuretech);
  --font-matrix-colour: var(--font-dynamic-color);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Hurmit Nerd', monospace;
}

/* Then you can use it in a selector: */
.my-monospace {
  font-family: 'Hurmit Nerd', monospace;
}

.component_name {
  color: #ff9e64;
}


