.navbar-icon {
  position: fixed;
  top: 6px;
  left: 20px;
  cursor: pointer;
  z-index: 1000;
  background: #150964;
  padding: 2px;
  border-radius: 50%;
  transition: left 0.3s ease, right 0.3s ease;
}

.navbar-icon.open {
  background: #394b70;
  opacity: 0.75;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: #394b70;
  border-radius: 6px;
  opacity: 0.85;
  transform: translateY(-100%);
  font-size: 1vw;

  /* animate both sliding & height */
  transition: 
    transform 1s ease,
    max-height 1s ease;
  z-index: 999;
}

.navbar.open {
  height: 50px;
  max-height: 500px;   /* slide‐down height */
  transform: translateY(0);  /* slide in from left */
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  border-bottom: 1px solid #bb9af7;
  font-family: 'Cartesian';
}

.navbar li a {
  color: #4fd6be;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.navbar li a:hover {
  color: #41a6b5;
}

