.card.showcase {
  background-color: #545c7e;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
  z-index: 999;
  color: #bb9af7;
}

.card.minimal {
  background-color: #deddb8;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 3px solid #4e443f;
  opacity: 0.9;
  z-index: 999;
  color: #8a5524;
}

.skilltag.showcase {
  display: inline-block;

  background-color: #545c7e;
  color: #7dcfff;

  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;

  border-radius: 0.25rem; /* rounded */
}

.skilltag.showcase:hover {
  background-color: #9d7cd8;
  color: #ff007c;
}

.skilltag.minimal {
  display: inline-block;

  background-color: #deddb8;
  color: #1b998b;

  padding-left: 1rem; /* px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem;

  border-radius: 0.25rem; /* rounded */
}

.skilltag.minimal:hover {
  background-color: #4e443f;
  color: #d88a4d;
}

.contactlinks.showcase:hover {
  color: #60a5fa;
}

.contactlinks.minimal:hover {
  color: #d88a4d;
}
